* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h2 {
  position: relative;
  font-size: 36px;
  text-align: center;

  color: #000;
}
body {
  display: flex;
  justify-content: center;

  /* min-width: 100vw; */
  min-height: 100vh;
  background: #f9e4e2;
  margin: 20px auto;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.container .box {
  position: relative;
  display: flex;
  font-size: 26;
  font-weight: normal;
  margin: 40px 0;
  align-items: flex-start;
  justify-content: center;
  width: 1200px;
  height: 800px;
  background: linear-gradient(to bottom right, #e45e52e8, #eba19a);
  color: rgba(0, 0, 0, 0.1);
}
.add-task {
  display: flex;
  font-size: 28px;
}
.add-task label {
  color: black;
  padding: 2px;
}
.add-task button {
  outline: none;
  background: none;
  border: none;
  font-size: 28px;
  margin: 2px 2px;
  cursor: pointer;
}
.add-task label:hover {
  color: crimson;
  border-radius: 36px;
  height: 2px;
  cursor: pointer;
}
.add-task button:hover {
  color: white;
  border: 1px solid crimson;
  border-radius: 360px;
  background: crimson;
  outline: crimson;
}

.container .box.shadow {
  box-shadow: -30px 30px 10px rgba(0, 0, 0, 0.3);
}
.text-area-container {
  /* display: block; */
  display: none;
  position: absolute;
  max-width: 1200px;
  margin: 50px auto;
}
.text-area-container input {
  width: 600px;
  height: 40px;
  background: none;
  border: none;
  outline: none;
  border: 2px solid gray;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  font-weight: lighter;
  white-space: nowrap;
}

.text-area-container input:focus {
  border: 2px solid rgba(80, 224, 100, 0.856);
}
.text-area-container .btn-add {
  display: block;
  margin-top: 5px;
  margin-left: 69%;
  width: 90px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid rgba(80, 224, 100, 0.856);
  border-radius: 15px;
  background: rgba(80, 224, 100, 0.856);
}
.text-area-container .btn-cancel {
  display: block;
  margin-left: 85%;
  margin-top: -45px;
  width: 90px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  background: transparent;
  border-radius: 15px;
}
.text-area-container .btn-cancel:hover {
  background: #e45e52e8;
  color: white;
  cursor: pointer;
}
.text-area-container .btn-add:hover {
  background: green;
  color: white;
  border: 1px solid green;
  cursor: pointer;
}
::placeholder {
  color: white;
  opacity: 0.3;
}

.myList {
  list-style: none;
  display: block;
  position: absolute;
  list-style: none;
  font-size: 20px;
  font-weight: 100;
  color: black;
  max-width: 1200px;
  margin: 150px 800px 0 0;
  z-index: +10;
}
.myList li {
  white-space: nowrap;
}

.myList li button {
  display: inline-block;
  color: white;
  background: none;
  outline: none;
  width: 420px;
  height: 20px;
  border-bottom: 2px solid white;
  border-radius: 36px;
  margin: 20px 10px;
  background-color: none;
  padding: 0 0 25px 25px;
}
.myList li label {
  font-size: 26px;
  padding: 2px 0 0 0;
}
.myList li button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.myList li label:hover {
  text-decoration: rgb(211, 140, 140) underline;
}
.img-container {
  margin: 300px 0 0 0;
}
.img-container img {
  display: block;
  position: absolute;
  width: 500px;
  height: 500px;
}

/* Making it Responsive */

/* laptop,desktop and monitor */
@media screen and (max-width: 1285px) {
  .container .box {
    width: 900px;
    height: 600px;
  }
  .img-container {
    margin: 200px 0 0 0;
  }

  .img-container img {
    width: 375px;
    height: 375px;
  }
  .myList {
    margin: 150px 500px 0 0;
  }
  .myList li label {
    font-size: 24px;
  }
}
/* ipad,tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .add-task {
    font-size: 26px;
  }
  .container .box {
    width: 600px;
    height: 400px;
  }
  .img-container {
    margin: 200px 0 0 20px;
  }

  .img-container img {
    width: 200px;
    height: 200px;
  }
  .myList {
    margin: 100px 300px 0 0;
  }
  .myList li button {
    margin: 5px 10px;
  }
  .myList li label {
    font-size: 20px;
  }
  .text-area-container input {
    width: 350px;
  }
  .text-area-container .btn-add {
    width: min-content;
  }
  .text-area-container .btn-cancel {
    width: min-content;
  }
}
/* mobile phones */
@media (max-width: 767px) {
  .add-task {
    font-size: 24px;
  }
  .container .box {
    width: 400px;
    height: 600px;
  }
  .img-container {
    margin: 350px 150px 0 0;
  }

  .img-container img {
    width: 200px;
    height: 200px;
  }
  .myList {
    margin: 130px 230px 0 0;
  }
  .myList li button {
    margin: 5px 10px;
  }
  .myList li label {
    font-size: 20px;
  }
  .text-area-container input {
    width: 350px;
  }
  .text-area-container .btn-add {
    width: min-content;
  }
  .text-area-container .btn-cancel {
    width: min-content;
  }
}
/* very small */
@media (max-width: 495px) {
  .add-task {
    font-size: 16px;
    white-space: nowrap;
    justify-content: center;
  }
  .add-task button {
    font-size: 16px;
  }
  .container .box {
    width: 250px;
    height: 500px;
    max-width: 100%;
    margin: 0 auto;
  }
  .img-container {
    margin: 350px 150px 0 0;
  }

  .img-container img {
    width: 150px;
    height: 150px;
  }
  .myList {
    margin: 150px 150px 0 0;
  }
  .myList li button {
    margin: 5px 10px;
  }
  .myList li label {
    font-size: 14px;
  }
  .text-area-container input {
    width: 200px;
    height: 25px;
    font-size: 14px;
  }
  .text-area-container .btn-add {
    width: min-content;
    font-size: 10px;
    margin-left: 55%;
  }
  .text-area-container .btn-cancel {
    width: min-content;
    margin-left: 75%;
  }
}
